/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html {font-family:helvetica, arial}
input, textarea {border:1px solid rgb(240,240,240)}
.panel {height:100%; width:300px; display:inline-block; vertical-align:top}
h2 input {font-size:2em; border:none}
.panel textarea {width:100%}
directive {color:rgb(180,180,180); font-size:1.5em;}
.done {color:lightgray}

.task_list {margin:0 1ex}
ul.nested {margin-left:1em}
