<a ng:click="remove_relationship(parent, task)">x</a>
<input type="checkbox" name="task.done">
<label for="list_{{task.id}}" ng:class="something.task_status(task)">
    <input type="radio" name="something.current_task_id" value="{{task.id}}" id="list_{{task.id}}">
    {{task.title}}
</label>

<span ng:eval="outer_task = task">
<ul class="nested"><li ng:repeat="task in postrequisite_tasks_list(task)">
    <span ng:eval="parent = outer_task">
    <ng:include src="'partials/postrequisite.html'"></ng:include>
</li></ul>
